body {
    background-color: #1d1e23;
    overflow-x: hidden;
    /* overflow-y: hidden; */
	font-family: "Lucida Console", "Courier New", monospace;
    padding: 0;
}

h1 {
    color: #fafcfb;
    text-align: center;
    background-color: none;
    background: none;
    margin: 0;
    /* position: absolute; */
    /* z-index: -1; */
}

h2 {
    color: #fafcfb;
    text-align: center;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-size: 15px;
}

#searchbar {
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: #1d1e23;
    stroke: #fafcfb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 10px;

    /* margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px; */
}

/*.searchbarvalue {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}*/

button {
    width: auto;
    height: auto;
    padding: 10px;
    /* background-color: #fafcfb; */
    background-color: #d9d9d9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
    margin-left: 0; 
    padding-left: 0;
}

li {
    list-style-type: none;
    cursor: pointer;
}


#radarChart {
    padding: 0;
    margin: 0;
}

#radarChart svg {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
    margin: auto;
}

#parallelCoordinates {
    height: 100%;
    bottom:0;

}

#parallelCoordinates svg {
    height: 100%;
    bottom:0;

}

.axisHighlight {
    fill: #911eb4;
    stroke: #911eb4;
}


.radarShapeHighlight {
    fill-opacity: 1;
    fill: white;
    stroke: white;
    opacity: 1;
    fill: #911eb4;
    stroke: #911eb4;
}
/*====================================*/
/*============  Tooltip  =============*/
/*====================================*/

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    /* background-color: #fafcfb; */
    background-color: #d9d9d9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    /* font-family: sans-serif; */
    font-size: 14px;
    /* line-height: 20px; */
}

/*====================================*/
/*==========  Radar CHart  ===========*/
/*====================================*/

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}