body {
    background-color: #1d1e23;
    overflow-x: hidden;
    /* overflow-y: hidden; */
	/*font-family: "Lucida Console", "Courier New", monospace;*/
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #fafcfb;
    text-align: center;
    background-color: none;
    background: none;
    margin: 0;
    /* position: absolute; */
    /* z-index: -1; */
}

h2 {
    color: #fafcfb;
    text-align: center;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-size: 15px;
}

#radarContainer {
}

#radarChart {
    overflow: visible;
}

#radarChart svg {
    /* transform: translate(60%, 50%); */
    overflow: visible;
    /* transform: translateY(50%); */
}

#radarChart [id^="radar-chart-text_"] {
    cursor: pointer;
}

#parallelCoordinates [id^="parallel-coor-text_"] {
    cursor: pointer;
}

#circularPacking svg {
    margin-left: 10%;
}

#radarChart {
    position: absolute;
}

#searchbar {
    position: absolute;
    left: 80%;
    top: 20%;
    /*background-color: #1d1e23;
    stroke: #fafcfb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 10px;*/
}

#searchbarvalue {
    /*color: white;
    border: 0;
    outline: 0; oi leo
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;*/
    font-family: 'Lato', sans-serif;
    color: #1d1e23;
    font-size: 16px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50px;
    background-color: #a9a9a9;
    border: none;
    width: 70%;
    display: block;
    border-bottom: 5px solid transparent;

}

#searchbarvalue:focus, input:focus {
    outline: none;
    border:1px #fafcfb;
    box-shadow: 0 0 10px #fafcfb;
    border-bottom: 5px solid transparent;
  }

ul {
    margin-left: 0; 
    left: 0;
}

li {
    list-style-type: none;
    cursor: pointer;
}

#radarChart {
    padding: 0;
    margin: 0;
}

#radarChart svg {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
    margin: auto;
}

#parallelCoordinates {
    height: 100%;
    bottom: 0;
}

#parallelCoordinates svg {
    height: 100%;
    bottom: 0;
}

.radarAxisHighlight {
    color: white;
    fill: white;
    /* stroke: #911eb4; */
}

.radarShapeHighlight {
    /* fill-opacity: 1; */
    /* fill: white;
    stroke: white; */
    opacity: 1;
    /* fill: green;
    stroke: green; */
}
.radarDotsHighlight {
    fill-opacity: 1;
    /* /* color: white; */
    opacity: 1;
    /* fill: green;
    stroke: green; */
}
/*====================================*/
/*============  Tooltip  =============*/
/*====================================*/

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    /* background-color: #fafcfb; */
    background-color: #d9d9d9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    pointer-events: none;
}

.tooltip.hidden {
    opacity: 0;
}

.tooltip p {
    margin: 0;
    font-size: 14px;
}

/*====================================*/
/*==========  Radar CHart  ===========*/
/*====================================*/

.legend {
    font-family: 'Lato', sans-serif;
    fill: #333333;
}

#circularPacking {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
    margin: auto;
    padding: 0;
    margin: 0;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }